.column {
  float: left;
  padding: 10px;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  text-align: center;
  list-style: inside;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
}
