@media not screen and (max-width: 640px) {
  .column {
    float: left;
    padding: 1.66%;
  }
  .left,
  .right {
    width: 20%;
  }

  .middle {
    width: 50%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  text-align: center;
  list-style: inside;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
}
